<div id="notice" class="alert alert-success hidden" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only"></span>
  <span class="cerrar" onclick="$('#notice').hide();">X</span>
  <%=notice%>
</div>
<div id="error" class="alert alert-danger hidden" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  <span class="cerrar" onclick="$('#error').hide();">X</span>
  <%=alert%>
</div>

<%if current_user%>
	<%if current_user.profile%>	
		<h1>Bienvenido/a Estimado/a <%=current_user.profile.primer_nombre%> <%=current_user.profile.primer_apellido%></h1>
	<%else%>
		<h1>Bienvenido Administrador</h1>
	<%end%>
<%else%>
	<h1>Bienvenido</h1>
<%end%>

